*.iml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/
/.idea/
/gradienttextview/build/
/gradientexample/build/
*/gradle.properties
/gradienttextview/maven-push.gradle
/gradienttextview/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
